body {background-color: coral;}

body { 
	font: 90%;
	line-height: 1.3;
	margin: 5; 
	padding: 5;
  }

p { 
  margin-top: 5; 
  text-align: justify;
  }
  
a:link { 
  font-weight: bold; 
  text-decoration: none; 
  color: purple;
  }

a:visited { 
  font-weight: bold; 
  text-decoration: none; 
  color: purple;
  }

a:hover, a:focus, a:active { 
  text-decoration: underline; 
  color: #9685BA;
  }

footer { 
  text-align: center; 
  }


